/.settings
/.buildpath
/.project
/.idea
/node_modules
atlassian-ide-plugin.xml
/composer.phar
composer.lock
/behat.yml
/var/*
!var/cache/
/var/cache/*
!var/cache/.gitkeep
!var/logs/
/var/logs/*
!var/logs/.gitkeep
!var/data/
/var/data/*
!var/data/.gitkeep
!var/sessions/
/var/sessions/*
!var/sessions/.gitkeep
!var/oro-check.php
/build
/vendor
/cov
!public/bundles/
/public/bundles/*
!public/bundles/.gitkeep
!public/js/
/public/js/*
!public/js/.gitkeep
/public/build
/public/layout-build
/public/media/cache
/public/media/js
/public/build.js
/config/parameters.yml
/config/.env
/.env-app.local
/.env-app.local.php
/.env-app.*.local
phpunit.xml
.phpunit.result.cache
/.behat-secrets.yml
*~
bin/*
!bin/console
!bin/dist
/.web-server-pid
/.vagrant
/.php-version
/docker-compose.override.yml
