app/cache/*
app/logs/*
/.settings
/.buildpath
/.project
/.idea
app/bootstrap.php.cache
atlassian-ide-plugin.xml
composer.phar
composer.lock
/vendor
build/
/cov
/web/bundles
/web/css
/web/js
/web/uploads/users/*
/web/media/cache
/web/build.js
/app/config/parameters.yml
/app/config/parameters_test.yml
behat.yml
*~

/app/SymfonyRequirements.php
