[submodule "src/Oro"]
	path = src/Oro
	url = git@github.com:laboro/platform.git
[submodule "src/OroCRM"]
	path = src/OroCRM
	url = git@github.com:laboro/crm.git
[submodule "src/OroCRMPro"]
	path = src/OroCRMPro
	url = git@github.com:laboro/crm-enterprise.git
[submodule "src/OroCRMPackages/src/OroCRM/Bundle/MagentoContactUsBundle"]
	path = src/OroCRMPackages/src/OroCRM/Bundle/MagentoContactUsBundle
	url = git@github.com:laboro/OroCRMMagentoContactUsBundle.git
