[submodule "src/Oro"]
	path = src/Oro
	url = git@github.com:laboro/platform.git
[submodule "src/OroCRM"]
	path = src/OroCRM
	url = git@github.com:laboro/crm.git
[submodule "src/OroPro"]
	path = src/OroPro
	url = git@github.com:laboro/platform-professional.git
[submodule "src/OroCRMPro"]
	path = src/OroCRMPro
	url = git@github.com:laboro/crm-professional.git
