/.settings
/.buildpath
/.project
/.idea
var/bootstrap.php.cache
atlassian-ide-plugin.xml
composer.phar
composer.lock
behat.yml
/var/
!var/cache/.gitkeep
!var/logs/.gitkeep
!var/attachment/.gitkeep
!var/import_export/.gitkeep
/vendor
build/
/cov
/public/bundles
/public/css
/public/js
/public/uploads/users/*
/public/media/cache
/public/media/js
/public/build.js
/public/tracking.php
/config/parameters.yml
/config/parameters_test.yml
behat.yml
*~
bin/*
!bin/console
!bin/dist
phpunit.xml
/var/SymfonyRequirements.php
/public/uploads/behat
/.web-server-pid
