imports:
  - ./vendor/oro/platform/src/Oro/Bundle/TestFrameworkBundle/Resources/config/behat.yml.dist

default: &default
    gherkin:
        filters:
            tags: ~@not-automated&&~@skip
    extensions:
        Behat\MinkExtension:
            base_url: 'http://dev-crm.local/'
        FriendsOfBehat\SymfonyExtension:
            kernel:
                debug: false
                class: AppKernel
        Oro\Bundle\TestFrameworkBundle\Behat\ServiceContainer\OroTestFrameworkExtension:
            shared_contexts:
                - Oro\Bundle\SalesBundle\Tests\Behat\Context\SalesContext
                - Oro\Bundle\TestFrameworkBundle\Tests\Behat\Context\OroMainContext
                - Oro\Bundle\TestFrameworkBundle\Tests\Behat\Context\FixturesContext
                - Oro\Bundle\ActivityListBundle\Tests\Behat\Context\ActivityContext
                - Oro\Bundle\DataGridBundle\Tests\Behat\Context\GridContext
                - Oro\Bundle\FormBundle\Tests\Behat\Context\FormContext
                - Oro\Bundle\SecurityBundle\Tests\Behat\Context\ACLContext
                - Oro\Bundle\SearchBundle\Tests\Behat\Context\SearchContext
                - Oro\Bundle\EmailBundle\Tests\Behat\Context\EmailContext
                - Oro\Bundle\ImportExportBundle\Tests\Behat\Context\ImportExportContext
                - Oro\Bundle\AddressBundle\Tests\Behat\Context\AddressContext

chromedriver:
    <<: *default
