<?xml version="1.0" encoding="UTF-8"?>

<!-- http://phpunit.de/manual/4.8/en/appendixes.configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.8/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         bootstrap="app/autoload.php"
>
    <testsuites>
        <testsuite name="unit">
            <directory suffix="Test.php">vendor/oro/crm*/src/*/Bundle/*Bundle/Tests/Unit</directory>
            <directory suffix="Test.php">vendor/oro/crm*/src/*/Component/*/Tests/Unit</directory>
            <directory suffix="Test.php">vendor/oro/platform*/src/*/Bundle/*Bundle/Tests/Unit</directory>
            <directory suffix="Test.php">vendor/oro/platform*/src/*/Component/*/Tests/Unit</directory>
        </testsuite>
        <testsuite name="functional">
            <directory suffix="Test.php">vendor/oro/crm*/src/*/Bundle/*Bundle/Tests/Functional</directory>
            <directory suffix="Test.php">vendor/oro/crm*/src/*/Component/*/Tests/Functional</directory>
            <directory suffix="Test.php">vendor/oro/platform*/src/*/Bundle/*Bundle/Tests/Functional</directory>
            <directory suffix="Test.php">vendor/oro/platform*/src/*/Component/*/Tests/Functional</directory>
        </testsuite>
        <testsuite name="functional-1-of-3">
            <directory suffix="Test.php">vendor/oro/platform/src/*/Bundle/A*Bundle/Tests/Functional</directory>
            <directory suffix="Test.php">vendor/oro/platform/src/*/Bundle/D*Bundle/Tests/Functional</directory>
        </testsuite>
        <testsuite name="functional-2-of-3">
            <directory suffix="Test.php">vendor/oro/platform/src/*/Bundle/B*Bundle/Tests/Functional</directory>
            <directory suffix="Test.php">vendor/oro/platform/src/*/Bundle/C*Bundle/Tests/Functional</directory>
            <directory suffix="Test.php">vendor/oro/platform/src/*/Bundle/E*Bundle/Tests/Functional</directory>
            <directory suffix="Test.php">vendor/oro/platform/src/*/Bundle/F*Bundle/Tests/Functional</directory>
            <directory suffix="Test.php">vendor/oro/platform/src/*/Bundle/G*Bundle/Tests/Functional</directory>
            <directory suffix="Test.php">vendor/oro/platform/src/*/Bundle/H*Bundle/Tests/Functional</directory>
            <directory suffix="Test.php">vendor/oro/platform/src/*/Bundle/I*Bundle/Tests/Functional</directory>
            <directory suffix="Test.php">vendor/oro/platform/src/*/Bundle/J*Bundle/Tests/Functional</directory>
            <directory suffix="Test.php">vendor/oro/platform/src/*/Bundle/K*Bundle/Tests/Functional</directory>
            <directory suffix="Test.php">vendor/oro/platform/src/*/Bundle/L*Bundle/Tests/Functional</directory>
            <directory suffix="Test.php">vendor/oro/platform/src/*/Bundle/M*Bundle/Tests/Functional</directory>
            <directory suffix="Test.php">vendor/oro/platform/src/*/Bundle/N*Bundle/Tests/Functional</directory>
            <directory suffix="Test.php">vendor/oro/platform/src/*/Bundle/O*Bundle/Tests/Functional</directory>
            <directory suffix="Test.php">vendor/oro/platform/src/*/Bundle/P*Bundle/Tests/Functional</directory>
            <directory suffix="Test.php">vendor/oro/platform/src/*/Bundle/Q*Bundle/Tests/Functional</directory>
            <directory suffix="Test.php">vendor/oro/platform/src/*/Bundle/R*Bundle/Tests/Functional</directory>
            <directory suffix="Test.php">vendor/oro/platform/src/*/Bundle/S*Bundle/Tests/Functional</directory>
            <directory suffix="Test.php">vendor/oro/platform/src/*/Bundle/T*Bundle/Tests/Functional</directory>
            <directory suffix="Test.php">vendor/oro/platform/src/*/Bundle/U*Bundle/Tests/Functional</directory>
            <directory suffix="Test.php">vendor/oro/platform/src/*/Bundle/V*Bundle/Tests/Functional</directory>
            <directory suffix="Test.php">vendor/oro/platform/src/*/Bundle/W*Bundle/Tests/Functional</directory>
            <directory suffix="Test.php">vendor/oro/platform/src/*/Bundle/X*Bundle/Tests/Functional</directory>
            <directory suffix="Test.php">vendor/oro/platform/src/*/Bundle/Y*Bundle/Tests/Functional</directory>
            <directory suffix="Test.php">vendor/oro/platform/src/*/Bundle/Z*Bundle/Tests/Functional</directory>
        </testsuite>
        <testsuite name="functional-3-of-3">
            <directory suffix="Test.php">vendor/oro/platform-*/src/*/Bundle/*Bundle/Tests/Functional</directory>
            <directory suffix="Test.php">vendor/oro/crm/src/*/Bundle/*Bundle/Tests/Functional</directory>
            <directory suffix="Test.php">vendor/oro/crm-*/src/*/Bundle/*Bundle/Tests/Functional</directory>
            <directory suffix="Test.php">vendor/oro/*/src/*/Component/*/Tests/Functional</directory>
        </testsuite>
        <testsuite name="functional-1-of-6">
            <directory suffix="Test.php">vendor/oro/platform/src/*/Bundle/A*Bundle/Tests/Functional</directory>
        </testsuite>
        <testsuite name="functional-2-of-6">
            <directory suffix="Test.php">vendor/oro/platform/src/*/Bundle/D*Bundle/Tests/Functional</directory>
        </testsuite>
        <testsuite name="functional-3-of-6">
            <directory suffix="Test.php">vendor/oro/platform/src/*/Bundle/B*Bundle/Tests/Functional</directory>
            <directory suffix="Test.php">vendor/oro/platform/src/*/Bundle/C*Bundle/Tests/Functional</directory>
            <directory suffix="Test.php">vendor/oro/platform/src/*/Bundle/E*Bundle/Tests/Functional</directory>
            <directory suffix="Test.php">vendor/oro/platform/src/*/Bundle/F*Bundle/Tests/Functional</directory>
            <directory suffix="Test.php">vendor/oro/platform/src/*/Bundle/G*Bundle/Tests/Functional</directory>
            <directory suffix="Test.php">vendor/oro/platform/src/*/Bundle/H*Bundle/Tests/Functional</directory>
            <directory suffix="Test.php">vendor/oro/platform/src/*/Bundle/I*Bundle/Tests/Functional</directory>
            <directory suffix="Test.php">vendor/oro/platform/src/*/Bundle/J*Bundle/Tests/Functional</directory>
            <directory suffix="Test.php">vendor/oro/platform/src/*/Bundle/K*Bundle/Tests/Functional</directory>
            <directory suffix="Test.php">vendor/oro/platform/src/*/Bundle/L*Bundle/Tests/Functional</directory>
            <directory suffix="Test.php">vendor/oro/platform/src/*/Bundle/M*Bundle/Tests/Functional</directory>
            <directory suffix="Test.php">vendor/oro/platform/src/*/Bundle/N*Bundle/Tests/Functional</directory>
            <directory suffix="Test.php">vendor/oro/platform/src/*/Bundle/O*Bundle/Tests/Functional</directory>
            <directory suffix="Test.php">vendor/oro/platform/src/*/Bundle/P*Bundle/Tests/Functional</directory>
            <directory suffix="Test.php">vendor/oro/platform/src/*/Bundle/Q*Bundle/Tests/Functional</directory>
            <directory suffix="Test.php">vendor/oro/platform/src/*/Bundle/R*Bundle/Tests/Functional</directory>
        </testsuite>
        <testsuite name="functional-4-of-6">
            <directory suffix="Test.php">vendor/oro/platform/src/*/Bundle/S*Bundle/Tests/Functional</directory>
            <directory suffix="Test.php">vendor/oro/platform/src/*/Bundle/T*Bundle/Tests/Functional</directory>
            <directory suffix="Test.php">vendor/oro/platform/src/*/Bundle/U*Bundle/Tests/Functional</directory>
            <directory suffix="Test.php">vendor/oro/platform/src/*/Bundle/V*Bundle/Tests/Functional</directory>
            <directory suffix="Test.php">vendor/oro/platform/src/*/Bundle/W*Bundle/Tests/Functional</directory>
            <directory suffix="Test.php">vendor/oro/platform/src/*/Bundle/X*Bundle/Tests/Functional</directory>
            <directory suffix="Test.php">vendor/oro/platform/src/*/Bundle/Y*Bundle/Tests/Functional</directory>
            <directory suffix="Test.php">vendor/oro/platform/src/*/Bundle/Z*Bundle/Tests/Functional</directory>
            <directory suffix="Test.php">vendor/oro/platform-*/src/*/Bundle/*Bundle/Tests/Functional</directory>
        </testsuite>
        <testsuite name="functional-5-of-6">
            <directory suffix="Test.php">vendor/oro/crm/src/*/Bundle/A*Bundle/Tests/Functional</directory>
            <directory suffix="Test.php">vendor/oro/crm/src/*/Bundle/B*Bundle/Tests/Functional</directory>
            <directory suffix="Test.php">vendor/oro/crm/src/*/Bundle/C*Bundle/Tests/Functional</directory>
            <directory suffix="Test.php">vendor/oro/crm/src/*/Bundle/D*Bundle/Tests/Functional</directory>
            <directory suffix="Test.php">vendor/oro/crm/src/*/Bundle/E*Bundle/Tests/Functional</directory>
            <directory suffix="Test.php">vendor/oro/crm/src/*/Bundle/F*Bundle/Tests/Functional</directory>
            <directory suffix="Test.php">vendor/oro/crm/src/*/Bundle/G*Bundle/Tests/Functional</directory>
            <directory suffix="Test.php">vendor/oro/crm/src/*/Bundle/H*Bundle/Tests/Functional</directory>
            <directory suffix="Test.php">vendor/oro/crm/src/*/Bundle/I*Bundle/Tests/Functional</directory>
            <directory suffix="Test.php">vendor/oro/crm/src/*/Bundle/J*Bundle/Tests/Functional</directory>
            <directory suffix="Test.php">vendor/oro/crm/src/*/Bundle/K*Bundle/Tests/Functional</directory>
            <directory suffix="Test.php">vendor/oro/crm/src/*/Bundle/L*Bundle/Tests/Functional</directory>
            <directory suffix="Test.php">vendor/oro/crm/src/*/Bundle/M*Bundle/Tests/Functional</directory>
        </testsuite>
        <testsuite name="functional-6-of-6">
            <directory suffix="Test.php">vendor/oro/crm/src/*/Bundle/N*Bundle/Tests/Functional</directory>
            <directory suffix="Test.php">vendor/oro/crm/src/*/Bundle/O*Bundle/Tests/Functional</directory>
            <directory suffix="Test.php">vendor/oro/crm/src/*/Bundle/P*Bundle/Tests/Functional</directory>
            <directory suffix="Test.php">vendor/oro/crm/src/*/Bundle/Q*Bundle/Tests/Functional</directory>
            <directory suffix="Test.php">vendor/oro/crm/src/*/Bundle/R*Bundle/Tests/Functional</directory>
            <directory suffix="Test.php">vendor/oro/crm/src/*/Bundle/S*Bundle/Tests/Functional</directory>
            <directory suffix="Test.php">vendor/oro/crm/src/*/Bundle/T*Bundle/Tests/Functional</directory>
            <directory suffix="Test.php">vendor/oro/crm/src/*/Bundle/U*Bundle/Tests/Functional</directory>
            <directory suffix="Test.php">vendor/oro/crm/src/*/Bundle/V*Bundle/Tests/Functional</directory>
            <directory suffix="Test.php">vendor/oro/crm/src/*/Bundle/W*Bundle/Tests/Functional</directory>
            <directory suffix="Test.php">vendor/oro/crm/src/*/Bundle/X*Bundle/Tests/Functional</directory>
            <directory suffix="Test.php">vendor/oro/crm/src/*/Bundle/Y*Bundle/Tests/Functional</directory>
            <directory suffix="Test.php">vendor/oro/crm/src/*/Bundle/Z*Bundle/Tests/Functional</directory>
            <directory suffix="Test.php">vendor/oro/crm-*/src/*/Bundle/*Bundle/Tests/Functional</directory>
            <directory suffix="Test.php">vendor/oro/*/src/*/Component/*/Tests/Functional</directory>
        </testsuite>
        <testsuite name="selenium">
            <directory suffix="Test.php">vendor/oro/crm*/src/*/Bundle/*Bundle/Tests/Selenium</directory>
            <directory suffix="Test.php">vendor/oro/crm*/src/*/Component/*/Tests/Selenium</directory>
            <directory suffix="Test.php">vendor/oro/platform*/src/*/Bundle/*Bundle/Tests/Selenium</directory>
            <directory suffix="Test.php">vendor/oro/platform*/src/*/Component/*/Tests/Selenium</directory>
        </testsuite>
    </testsuites>
    <php>
        <server name="KERNEL_DIR" value="app/" />
        <const name="PHPUNIT_LOAD_LIMIT" value="1.2"/>
        <const name="PHPUNIT_PAGE_LIMIT" value="0.5"/>
        <const name="PHPUNIT_TESTSUITE_BROWSER_PATH_WINNT" value="C:\Dev\phantomjs-1.9.0-windows\phantomjs.exe"/>
        <const name="PHPUNIT_TESTSUITE_BROWSER_PATH_LINUX" value="/usr/bin/phantomjs"/>
        <const name="PHPUNIT_TESTSUITE" value="true"/>
        <const name="PHPUNIT_TESTSUITE_EXTENSION_SELENIUM_HOST" value="127.0.0.1"/>
        <const name="PHPUNIT_TESTSUITE_EXTENSION_SELENIUM_PORT" value="4444"/>
        <const name="PHPUNIT_TESTSUITE_EXTENSION_SELENIUM2_BROWSER" value="phantomjs"/>
        <const name="PHPUNIT_TESTSUITE_EXTENSION_SELENIUM_TESTS_URL" value="http://localhost.com"/>
        <const name="PHPUNIT_TESTSUITE_EXTENSION_SELENIUM_TESTS_URL_COVERAGE" value="http://localhost.com/bundles/orotestframework/scripts/phpunit_coverage.php"/>
        <const name="MAX_EXECUTION_TIME" value="240000"/>
        <const name="TIME_OUT" value="5000"/>
        <const name="viewportWIDTH" value="1900"/>
        <const name="viewportHEIGHT" value="1080"/>
        <const name="PHPUNIT_TESTSUITE_EXTENSION_SELENIUM_PATH_LOGS" value="app/log"/>
        <const name="PHPUNIT_TESTSUITE_EXTENSION_SELENIUM_LOGIN" value="admin"/>
        <const name="PHPUNIT_TESTSUITE_EXTENSION_SELENIUM_PASS" value="admin"/>
    </php>
    <listeners>
        <listener class="TestListener" file="vendor/oro/platform/src/Oro/Bundle/TestFrameworkBundle/Test/TestListener.php">
            <arguments>
                <string>app/logs</string>
            </arguments>
        </listener>
    </listeners>

</phpunit>
