parameters:
    database_driver:        pdo_mysql
    database_host:          '%env(ORO_DB_HOST)%'
    database_port:          '%env(ORO_DB_PORT)%'
    database_name:          '%env(ORO_DB_NAME)%'
    database_user:          '%env(ORO_DB_USER)%'
    database_password:      '%env(ORO_DB_PASSWORD)%'
    database_driver_options: []

    mailer_transport:       '%env(ORO_MAILER_DRIVER)%'
    mailer_host:            '%env(ORO_MAILER_HOST)%'
    mailer_port:            '%env(ORO_MAILER_PORT)%'
    mailer_encryption:      '%env(ORO_MAILER_ENCRYPTION)%'
    mailer_user:            '%env(ORO_MAILER_USER)%'
    mailer_password:        '%env(ORO_MAILER_PASSWORD)%'

    # WebSocket server config
    websocket_bind_address:                "0.0.0.0"  # The host IP the socket server will bind to
    websocket_bind_port:                   8080       # The port the socket server will listen on
    websocket_frontend_host:               "*"        # Websocket host the browser will connect to
    websocket_frontend_port:               8080       # Websocket port the browser will connect to
    websocket_frontend_path:               ""         # Websocket url path the browser will connect to (for example "/websocket" or "/ws")
    websocket_backend_host:                "*"        # Websocket host the application server will connect to
    websocket_backend_port:                8080       # Websocket port the application server will connect to
    websocket_backend_path:                ""         # Websocket url path the application server will connect to (for example "/websocket" or "/ws")
    websocket_backend_transport:           tcp        # Socket transport (for example "tcp", "ssl" or "tls")
    websocket_backend_ssl_context_options: {}         # Socket context options, usually needed when using secure transport

    # Used to hide backend under specified prefix, should be started with "/", for instance "/admin"
    # You can use this default value when only backend is present
    web_backend_prefix:         ''

    session_handler:        ~

    secret:                 '%env(ORO_SECRET)%'
    installed:              ~
    assets_version:         ~
    assets_version_strategy: time_hash
    message_queue_transport: 'null'
    message_queue_transport_config: {}

    deployment_type: ~

    # Fallback values (used if environmental variables are not set)
    env(ORO_DB_HOST): 127.0.0.1
    env(ORO_DB_PORT): null
    env(ORO_DB_NAME): oro_crm_test
    env(ORO_DB_USER): root
    env(ORO_DB_PASSWORD): null

    env(ORO_MAILER_DRIVER): smtp
    env(ORO_MAILER_HOST): 127.0.0.1
    env(ORO_MAILER_PORT): null
    env(ORO_MAILER_ENCRYPTION): null
    env(ORO_MAILER_USER): null
    env(ORO_MAILER_PASSWORD): null

    env(ORO_SECRET): ThisTokenIsNotSoSecretChangeIt
